.suggest-item {
  width: 354px;
  height: 28px;
  padding: 6px 12px;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background: #F2F2F2;
    cursor: pointer;
  }

  &:active {
    background: #D5F4F1
  }
};