.suggestion-wrapper {
  position: absolute;
  width: 364px;
  background: #FFFFFF;
  top: 50px;
  height: 164px;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.05), 0px 2px 4px rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.suggestion-wrapper::-webkit-scrollbar {
  width: 10px;
}

.suggestion-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 5px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.suggestion-wrapper::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.suggest-none {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #9F9F9F;
  margin: 4px 0 5px 0;
}