.suggest-item {
  width: 354px;
  height: 28px;
  padding: 6px 12px;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    background: #f2f2f2;
    cursor: pointer;
  }

  &:active {
    background: #d5f4f1;
  }

  & .highlight {
    color: #2bc9ba;
  }
}
