.header-style {
  padding: 20px 0;
  line-height: 1.5em;
}

.title-style {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1em;
  color: #ececec;
  text-align: center;
}
