/* 
 * 수정 자유롭게 해주셔도 괜찮습니다 :)
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 8rem 10px 4rem;
}

.form-container {
  width: 364px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  height: 44px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border: 1px solid #DEDEDE;
  border-radius: 6px;
}

.form-container:focus-within {
  border: 1px solid #9F9F9F;
}

.form-container:hover {
  border: 3px solid #DEDEDE;
}

.input-container {
  position: relative;
  width: 80%;
  left: -15px;
  height: 44px;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 44px;
  padding: 12px 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
}

.input-submit {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.btn-plus {
  color: darkcyan;
  font-size: 20px;
}

.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}

.empty-list {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  letter-spacing: 1.5rem;
  margin-left: 0.75rem;
  color: #ececec;
}

.item {
  list-style-type: none;
  width: 364px;
  padding: 17px 1.5rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  margin: 0 auto;
}
.item:hover {
  opacity: 0.85;
  background-color: #eaeaea;
  cursor: pointer;
}

.item span {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-option {
  float: right;
}

.item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spinner {
  font-size: 20px;
  animation: spin 2s linear infinite;
  display: flex;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}

.search-icon {
  font-size: 20px;
  color: #7D7D7D;
}

.more-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #9F9F9F;
  margin-bottom: 10px;
}